@use '../utils/variables' as *;

.button {
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  text-align: center;

  color: white;
  background-color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 50px;
  height: 56px;

  @include hover(
    (
      color: $color-primary,
      background-color: white,
    )
  );

  &:active {
    transition: none;
    background-color: #111;
    color: white;
  }
}
