@use '../utils/mixins' as *;

.footer {
  @include grid;

  height: 200px;
  background-image: url(../../src/images/footer.jpg);
  background-position: center 25%;
  background-size: cover;
  background-repeat: no-repeat;

  @include for-tablet {
    height: 400px;
  }

  @include for-desktop {
    height: 460px;
  }
}
