@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.input {
  box-sizing: border-box;
  width: 280px;
  background-color: #f8f8fa;
  border: 1px solid #f8f8fa;

  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;

  color: $color-primary;

  &::placeholder {
    color: #7e7e83;
  }

  @include hover(
    (
      border-color: #d5d7de,
    )
  );

  &:hover::placeholder {
    color: $color-primary;
    transition: color 0.3s ease-in-out;
  }

  &:focus {
    transition: none;
    outline: none;
    border: 1px solid $color-primary;
  }
}
