.links {
  padding: 32px 0;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    color: #292929;
  }
}
