@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.links {
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    font-family: $font-family-primary;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-primary;
  }
}
