@use '../utils/mixins' as *;

.main {
  @include grid;

  padding-top: 64px;

  @include for-tablet {
    padding-top: 120px;
  }

  &__section {
    margin-bottom: 96px;
    grid-column: span 2;

    @include for-tablet {
      margin-bottom: 120px;
      grid-column: span 6;
    }
  }
}
