.menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #e8eff9;

  @include grid;

  padding: 0 20px;
  align-content: start;

  &__links {
    grid-column: span 2;
  }

  &__order {
    grid-column: span 2;
  }
}
