.navigation {
  display: grid;
  grid-template-rows: 72px;
  justify-content: space-between;
  align-items: center;

  &__actions {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 24px 24px 24px;
    grid-template-rows: 24px;
    place-items: center;
  }

  &__logo {
    grid-column: 1 / 2;
  }

  &__toggle {
    grid-column: 3 / 4;
  }

  &__close {
    grid-column: 2 / 3;
  }
}
