.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;

  &__actions {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 24px);
  }

  &__logo {
    grid-column: 1 / 2;
  }

  &__toggle {
    grid-column: 3 / 4;
  }

  &__close {
    grid-column: 2 / 3;
  }
}
