@use '../utils/mixins' as *;

.product {
  &__image {
    width: 280px;
    display: block;
    margin-bottom: 32px;

    @include for-tablet {
      width: 392px;
    }

    @include for-desktop {
      width: 324px;
    }
  }

  &__subtitle {
    margin-bottom: 8px;
  }

  &__paragraph {
    margin-bottom: 12px;
  }
}
