@use '../utils/mixins';

.toggle {
  &__label {
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      width: 18px;
      height: 12px;
      background-image: url(../../../src/images/burger.svg);
      background-size: cover;
    }

    &::after {
      content: '';
      display: none;
      width: 18px;
      height: 12px;
      background-image: url(../../../src/images/burger-hover.svg);
      background-size: cover;
    }

    &:hover {
      &::before {
        display: none;
      }

      &::after {
        display: block;
      }
    }
  }

  &__input {
    @include visually-hidden;

    &:checked ~ .menu {
      transform: translateX(0);
    }

    &:focus-visible + .toggle__label {
      outline: -webkit-focus-ring-color auto 1px;
    }
  }

  &__caption {
    @include visually-hidden;
  }
}
