@use 'sass:list';

@mixin hover($changes, $duration: 0.3s, $easing: ease-in-out) {
  $transitions: ();

  @each $property, $value in $changes {
    $transitions: list.append(
      $transitions,
      #{$property} #{$duration} #{$easing},
      comma
    );
  }

  transition: $transitions;

  &:hover {
    @each $property, $value in $changes {
      #{$property}: $value;
    }
  }
}

@mixin grid() {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  justify-content: center;
  column-gap: 20px;
}

@mixin visually-hidden() {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
